body {
    background-color: darkseagreen;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;

}

#title {
    color: darkgreen
}


/* add new entry styling */

button:hover {
  color: darkgreen;
}

button:active {
  background-color:darkgreen;
  color: white;
}

.add-goals {
  display: flex;
  justify-content: center;
}

/* Journal Entry 2 Styling */
#secondEntry {
  color:  hsl(27, 34%, 41%);
  font-family: 'Orelega One', cursive;
}

#journal-two {
  padding-left: 1vw;
  padding-right: 1cm;
  padding-bottom: 2vh;
  margin-top: 2mm;
  border-style:dotted;
  border-color: #14612b;
  border-width: 3px;
  border-radius: 2em;
  display: inline;
  
}

.tasks2 {
  color: rgb(11, 66, 36);
}
.shopping-list { 
  color: rgb(11, 66, 36);
}

/* Journal Entry 1 Styling */


/* max width */
@media (max-width: 75rem) {
  #journal-one {
    border-style: dashed;
    border-color: darkgreen;
    border-width: 3px;
    border-radius: 2em;
  
  }
}


/* max width */
@media (min-width: 5rem) {
  #journal-one {
    border-style: dashed;
    border-color: darkgreen;
    border-width: 3px;
    border-radius: 2em;
  
  }
}
#firstEntry {
  color:  hsl(27, 34%, 41%);
  font-family: 'Orelega One', cursive;
  text-align: center;
  position: relative;
}

#journal-one {
  padding-left: 1cm;
  padding-right: 1cm;
  margin-top: 2vh;  
}

video {
  width: 300px;
  height: 200px;
}

.journalText {
 text-align: center;
}
.tasks {
  text-align: center;
  color: rgb(128, 59, 3);
}

a[href$="Entry"] {
  color: brown;
}


/* Journal 3 */

#thirdEntry {
  color:  hsl(27, 34%, 41%);
  font-family: 'Orelega One', cursive;
  text-align: center;
  position: relative;
  display: inline-block;
  
}

#journal-three {
  padding-left: 1cm;
  padding-right: 1cm;
  margin-top: 2vh;  
  border-style: dashed;
  border-color: darkgreen;
  border-width: 3px;
  border-radius: 2em;
  display: grid;
  grid-area: auto;
  grid-template-rows: auto;
  grid-auto-flow: dense;

  
}


.journalText3 {
 text-align: center;
}
.tasks3 {
  text-align: center;
  color: rgb(128, 59, 3);
}

img + p {
  font-style: italic;
}

h2 ~ h3 {
  color:rgb(212, 212, 212);
}

ul.list > li {
  color: #FFFFFF;
}

* {
  margin-top: 1mm;
}

ol.sunday-task li {
  color:#611414;
}

p.friday-task-title {
  font-weight: bold;
  color: white;
  background: green;
}

h2,h3 {
  font-style: italic;
}